.text-2028-2838 {
  font-size: 28px;
  line-height: 38px;
}

.text-2028-2230 {
  font-size: 22px;
  line-height: 30px;
}

.text-1624-2028 {
  font-size: 20px;
  line-height: 28px;
}

.text-1624-2230 {
  font-size: 22px;
  line-height: 30px;
}

.text-1624-1826 {
  font-size: 18px;
  line-height: 26px;
}

.text-1522-1826 {
  font-size: 18px;
  line-height: 26px;
}

.text-2028-1826 {
  font-size: 18px;
  line-height: 26px;
}

.text-1522-1624 {
  font-size: 16px;
  line-height: 24px;
}

.text-1522-1626 {
  font-size: 16px;
  line-height: 26px;
}

.text-1318-1522 {
  font-size: 15px;
  line-height: 22px;
}

.text-1318-1420 {
  font-size: 14px;
  line-height: 20px;
}

.text-1318-1624 {
  font-size: 16px;
  line-height: 24px;
}

.text-1420-1624 {
  font-size: 16px;
  line-height: 24px;
}

.text-1420-1724 {
  font-size: 17px;
  line-height: 24px;
}

.text-1420-1522 {
  font-size: 15px;
  line-height: 22px;
}

.text-1724-2230 {
  font-size: 22px;
  line-height: 30px;
}

.text-1724-1826 {
  font-size: 18px;
  line-height: 26px;
}

.text-2230-2432 {
  font-size: 24px;
  line-height: 32px;
}

.text-2230-3648 {
  font-size: 36px;
  line-height: 48px;
}

.text-2230-2838 {
  font-size: 28px;
  line-height: 38px;
}

.text-2432-3648 {
  font-size: 36px;
  line-height: 48px;
}

/* ------------------------------------------------------------- */
.frame-size-102102-160160 {
  width: 160px;
  height: 160px;
}

.frame-size-102102-lg160160 {
  width: 160px;
  height: 160px;
}

.frame-size-7070-lg160160 {
  width: 160px;
  height: 160px;
}

.frame-size-70108-160150 {
  width: 160px;
  height: 150px;
}

.frame-size-115115-160160 {
  width: 160px;
  height: 160px;
}

.frame-size-7070-160160 {
  width: 160px;
  height: 160px;
}

.frame-size-7070-70108 {
  width: 70px;
  height: 108px;
}

.frame-size-70108-7070 {
  width: 70px;
  height: 70px;
}

.frame-size-70108-102108 {
  width: 102px;
  height: 108px;
}

.image-size-70108-102150 {
  width: 102px;
  height: 150px;
}

.note-frame-size {
  max-width: 700px;
}

.payment-detail-size {
  width: 340px;
}

.co-input-discount {
  width: auto;
}

.bg-text-violet {
  background-color: rgba(226, 238, 255, 1);
  color: rgba(160, 181, 255, 1);
}

/* ------------------------------------------------------------- */
@media (max-width: 1024px) {
  .note-frame-size {
    width: 100%;
    max-width: 100%;
  }

  .payment-detail-size {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .text-2028-2838 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-2028-2230 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-1624-1826 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-1624-2028 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-1624-2230 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-1522-1826 {
    font-size: 15px;
    line-height: 22px;
  }

  .text-2028-1826 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-1522-1624 {
    font-size: 15px;
    line-height: 22px;
  }

  .text-1522-1626 {
    font-size: 15px;
    line-height: 22px;
  }

  .text-1318-1522 {
    font-size: 13px;
    line-height: 18px;
  }

  .text-1318-1420 {
    font-size: 13px;
    line-height: 18px;
  }

  .text-1318-1624 {
    font-size: 13px;
    line-height: 28px;
  }

  .text-1420-1624 {
    font-size: 14px;
    line-height: 20px;
  }

  .text-1420-1724 {
    font-size: 14px;
    line-height: 20px;
  }

  .text-1420-1522 {
    font-size: 14px;
    line-height: 20px;
  }

  .text-1724-1826 {
    font-size: 17px;
    line-height: 24px;
  }

  .text-1724-2230 {
    font-size: 17px;
    line-height: 24px;
  }

  .text-2230-2432 {
    font-size: 22px;
    line-height: 30px;
  }

  .text-2230-3648 {
    font-size: 22px;
    line-height: 30px;
  }

  .text-2230-2838 {
    font-size: 22px;
    line-height: 30px;
  }

  .text-2432-3648 {
    font-size: 24px;
    line-height: 32px;
  }

  /* ------------------------------------------------------------- */
  .frame-size-102102-160160 {
    width: 102px;
    height: 102px;
  }

  .frame-size-70108-160150 {
    width: 70px;
    height: 108px;
  }

  .frame-size-115115-160160 {
    width: 115px;
    height: 115px;
  }

  .frame-size-7070-160160 {
    width: 70px;
    height: 70px;
  }

  .frame-size-7070-70108 {
    width: 70px;
    height: 70px;
  }

  .frame-size-70108-7070 {
    width: 70px;
    height: 108px;
  }

  .frame-size-70108-102108 {
    width: 70px;
    height: 108px;
  }

  .image-size-70108-102150 {
    width: 70px;
    height: 108px;
  }

  .modal-box-size {
    max-width: calc(100%);
  }
}

@media (max-width: 375px) {
  .co-input-discount {
    width: 128px;
  }
}


@media (max-width: 1024px) {
  .frame-size-102102-lg160160 {
    width: 120px;
    height: 120px;
  }

  .frame-size-7070-lg160160 {
    width: 70px;
    height: 70px;
  }
}