@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
}

.container-layout {
  max-width: 70rem;
  margin: 0 auto;
}

.header-logo {
  width: 70px;
  height: 70px;
}

input,
button {
  outline: none;
}

ul,
ol li {
  list-style: none;
}

.underline-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}

.div-40 {
  width: 40px;
  height: 40px;
}
.div-20 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.text-highlight {
  background: linear-gradient(to right, #0c98e7, #b956ea, #f03964);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.w-790-px {
  width: 790px;
}

.border-bl-br-8-px {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bg-highlight {
  background: linear-gradient(to right, #0c98e7, #b956ea, #f03964);
}

.border-b-highlight::after {
  content: ""; /* Tạo một phần tử ảo */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Chiều cao của border */
  background: linear-gradient(to right, #0c98e7, #b956ea, #f03964);
}

.bg-header-highlight {
  background: linear-gradient(to right, #71b0ff, #2c79fe, #7b37ff);
}

.bg-gray {
  background-color: rgba(55, 56, 60, 0.28);
}

.text-highlight-dot::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ee1762;
  border-radius: 50%;
}

.text-11-l-14 {
  font-size: 11px;
  line-height: 14px;
}

.text-13-l-18 {
  font-size: 13px;
  line-height: 18px;
}

.text-14-l-20 {
  font-size: 14px;
  line-height: 20px;
}

.text-14-l-22 {
  font-size: 14px;
  line-height: 22px;
}

.text-15-l-22 {
  font-size: 15px;
  line-height: 22px;
}

.text-15-l-24 {
  font-size: 15px;
  line-height: 24px;
}

.text-16-l-26 {
  font-size: 16px;
  line-height: 26px;
}

.text-17-l-24 {
  font-size: 17px;
  line-height: 24px;
}

.text-18-l-26 {
  font-size: 18px;
  line-height: 26px;
}

.text-20-l-28 {
  font-size: 20px;
  line-height: 28px;
}

.text-22-l-30 {
  font-size: 22px;
  line-height: 30px;
}

.text-28-l-38 {
  font-size: 28px;
  line-height: 38px;
}

.text-36-l-48 {
  font-size: 36px;
  line-height: 48px;
}

.text-69-1014 {
  font-size: 10px;
  line-height: 14px;
}
.text-2028-2838 {
  font-size: 28px;
  line-height: 38px;
}

.text-2028-2432 {
  font-size: 24px;
  line-height: 32px;
}

.text-1216-1422 {
  font-size: 14px;
  line-height: 22px;
}

.text-1216-1522 {
  font-size: 15px;
  line-height: 22px;
}

.text-1422-1524 {
  font-size: 15px;
  line-height: 24px;
}

.w-30px {
  width: 30px;
}

.h-30px {
  height: 30px;
}

.w-2-px {
  width: 2px;
}

.w-1-px {
  width: 1px;
}

.xy-30-px {
  width: 30px;
  height: 30px;
}

.devider-top {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(112, 115, 124, 0.52);
}

.devider-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(112, 115, 124, 0.52);
}

.two-lines {
  display: -webkit-box;
  /* Định dạng hộp linh hoạt */
  -webkit-line-clamp: 2;
  /* Hiển thị tối đa 2 dòng */
  -webkit-box-orient: vertical;
  /* Đặt hướng của hộp là dọc */
  overflow: hidden;
  /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis;
  /* Thêm dấu "..." nếu văn bản bị cắt */
}

.four-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(55, 56, 60, 0.6);
}

.scope-imgage {
  border-top-left-radius: 2px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.scope-imgage-super-small {
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.scope-imgage-small {
  border-top-left-radius: 2px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.scope-imgage-big {
  border-top-left-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.border-imgage-48 {
  border-top-left-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
  -webkit-overflow-scrolling: touch;
}

.toggle-menu-size {
  height: 594px;
  max-width: 744px;
}

.menu-item-size {
  width: 143px;
}

.header-toggle-menu-custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.header-toggle-menu-custom-scroll::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Màu nền xám */
}

.header-toggle-menu-custom-scroll::-webkit-scrollbar-thumb {
  background-color: black; /* Màu thanh cuộn đen */
  border-radius: 10px; /* Bo tròn cho thanh cuộn */
}

.text-grey-5560-028 {
  color: rgba(55, 56, 60, 0.28);
}

.text-red-pink {
  color: rgba(238, 23, 98, 1);
}

.text-disable {
  color: rgba(55, 56, 60, 0.16);
}

.bg-disable {
  background-color: rgba(247, 247, 248, 1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.select-hidden-arrow {
  appearance: none;
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  /* background: transparent; */
}

.h-1-px {
  height: 1px;
}

.h-72-px {
  height: 72px;
}

/* ------------- breadcrumb ---------------------------- */
.breadcrumb-main-category-menu:hover .breadcrumb-sub-menu {
  display: block;
}
.breadcrumb-main-category-menu:hover .icon-down {
  display: none;
}
.breadcrumb-main-category-menu:hover .icon-up {
  display: block;
}

.breadcrumb-sub-menu::after {
  content: "";
  width: 100px;
  height: 30px;
  position: absolute;
  top: -20px;
  left: 0;
}
/* ------------- breadcrumb ---------------------------- */

/* ------------- category event ---------------------------- */
.aside-event {
  width: 100px;
  left: calc(100% + 32px);
}

.category-side-menu {
  width: 120px;
}

/* custom slide */
.container-custom-slide {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.container-custom-slide .slide .item {
  width: 40px;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  /* background-size: auto; */
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  /* transition: 1s; */
  transition: all 0.5s linear;
  overflow: hidden;

  background-size: 840px 340px;
}

.container-custom-slide .slide .item:nth-child(1),
.container-custom-slide .slide .item:nth-child(2) {
  top: 0;
  transform: translate(0, 0);
  width: 40px;
}

.container-custom-slide .slide .item:nth-child(1) {
  /* left: calc(-40px - 10px); */
  left: 0;
}

.container-custom-slide .slide .item:nth-child(2) {
  left: 0;
}

.container-custom-slide .slide .item:nth-child(3) {
  left: calc(1 * 40px + 1 * 10px);
}

.container-custom-slide .slide .item:nth-child(4) {
  width: calc(100% - 2 * 40px - 2 * 10px);
  left: calc(2 * 40px + 2 * 10px);
}

.container-custom-slide .slide .item:nth-child(n + 5) {
  left: calc(100% + 20px);
}

.container-custom-slide .slide .item .content {
  opacity: 0;
}
.container-custom-slide .slide .item:nth-child(4) .content {
  opacity: 1;
}

/* .container-custom-slide .button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.container-custom-slide .button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.container-custom-slide .button button:hover {
    background: #ababab;
    color: #fff;
} */

/* custom slide */

.frame-image-border-24-26 {
  border-top-left-radius: 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 2px;
}

.frame-image-border-26-48 {
  border-top-left-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 4px;
}

.frame-image-border-26 {
  border-top-left-radius: 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 2px;
}

.frame-image-size-102150-160236 {
  width: 160px;
  height: 236px;
}

.frame-image-size-102150-160160 {
  width: 160px;
  height: 160px;
}

.frame-image-size-102150-196290 {
  width: 196px;
  height: 290px;
}

.frame-image-size-280200-460200 {
  width: 460px;
  height: 200px;
}

.frame-image-size-102102-196196 {
  width: 196px;
  width: 196px;
}

.frame-image-size-102102-160160 {
  width: 160px;
  width: 160px;
}

.frame-image-size-196290-350520 {
  width: 350px;
  height: 520px;
}

.frame-image-size-194288-348518 {
  width: 348px;
  height: 518px;
}

.frame-width-102-160 {
  width: 160px;
}

.frame-width-102-196 {
  width: 196px;
}

.frame-width-280-460 {
  width: 280px;
}

.frame-width-580-940 {
  width: 940px;
}

.frame-width-196-196 {
  width: 196px;
}

.frame-height-full-236 {
  height: 236px;
}

.frame-image-size-102150 {
  width: 102px;
  height: 150px;
}

.frame-image-size-196196 {
  width: 196px;
  height: 196px;
}

.frame-video-size-320180-340190 {
  width: 340px;
  height: 190px;
}

.frame-height-190-470 {
  height: 470px;
}
/* ------------- category event ---------------------------- */

.gap-side-menu-main-content {
  column-gap: 60px;
}

.gap-side-menu-service-content {
  column-gap: 110px;
}

.space-y-12-18 > *:not(:last-child) {
  margin-bottom: 72px;
}

.width-image-book-detail-new {
  width: fit-content;
}

.bulletin-item-width {
  width: calc(50% - 10px);
}

.hanging-indent ol {
  list-style-position: inside;
  padding-left: 1.25rem;
  /* Adjust as needed for alignment */
}

.hanging-indent li::marker {
  font-weight: normal;
  /* Style the numbers if you like */
}

.hanging-indent li {
  text-indent: -1.25rem;
  padding-left: 1.25rem;
}

@media (max-width: 768px) {
  .mobi-px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobi-pl {
    padding-left: 20px;
  }

  .toggle-menu-size {
    width: 100%;
  }

  .bulletin-item-width {
    width: 100%;
  }
}

.best-slide-size {
  width: 940px;
  height: 514px;
}

.sanctuary-best-slide-size {
  width: 940px;
  height: 370px;
}

.new-slide-size {
  width: 940px;
  height: 326px;
}

.frame-slide-height-276-364 {
  /* width: 940px; */
  height: 364px;
}

.pick-new-slide-size {
  width: 940px;
  height: 326px;
}

.pick-holy-slide-size {
  width: 940px;
  height: 250px;
}

.sanctuary-new-slide-size {
  width: 940px;
  height: 228px;
}

.frame-slide-size-320166-250150 {
  width: 250px;
  height: 150px;
}

.frame-width-320-250 {
  width: 250px;
}

.frame-size-7272-115115 {
  width: 115px;
  height: 115px;
}

.frame-size-7272-160156 {
  width: 160px;
  height: 156px;
}

.frame-width-120-200 {
  width: 200px;
}

.frame-slide-size-196196-350350 {
  width: 350px;
  height: 350px;
}

.frame-slide-size-198198-352352 {
  width: 352px;
  height: 352px;
}

.bg-white-blue-10 {
  background-color: rgba(250, 252, 255, 1);
}

@media (max-width: 640px) {

  .bg-white-blue-10 {
    background-color: white;
  }

  .border-bl-br-8-px {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .text-69-1014 {
    font-size: 6px;
    line-height: 9px;
  }
  .text-2028-2838 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-2028-2432 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-1216-1422 {
    font-size: 12px;
    line-height: 16px;
  }

  .text-1216-1522 {
    font-size: 12px;
    line-height: 16px;
  }

  .text-1422-1524 {
    font-size: 14px;
    line-height: 22px;
  }

  .space-y-12-18 > *:not(:last-child) {
    margin-bottom: 48px;
  }

  .frame-image-border-24-26 {
    border-top-left-radius: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 2px;
  }

  .frame-image-border-26-48 {
    border-top-left-radius: 2px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 2px;
  }

  .frame-image-size-102150-160236 {
    width: 102px;
    height: 150px;
  }

  .frame-image-size-102150-160160 {
    width: 102px;
    height: 150px;
  }

  .frame-image-size-102150-196290 {
    width: 102px;
    height: 150px;
  }

  .frame-image-size-102102-160160 {
    width: 102px;
    width: 102px;
  }

  .frame-image-size-280200-460200 {
    width: 280px;
    height: 200px;
  }

  .frame-image-size-196290-350520 {
    width: 196px;
    height: 290px;
  }

  .frame-image-size-194288-348518 {
    width: 194px;
    height: 288px;
  }

  .best-slide-size {
    width: 580px;
    height: 384px;
  }

  .sanctuary-best-slide-size {
    width: 940px;
    height: 370px;
  }

  .new-slide-size {
    width: 610px;
    height: 236px;
  }

  .frame-slide-height-276-364 {
    /* width: 600px; */
    height: 276px;
  }

  .pick-new-slide-size {
    width: 940px;
    height: 240px;
  }

  .pick-holy-slide-size {
    width: 940px;
    height: 192px;
  }

  .sanctuary-new-slide-size {
    width: 590px;
    height: 228px;
  }

  .frame-width-102-160 {
    width: 102px;
  }

  .frame-width-102-196 {
    width: 102px;
  }

  .frame-width-280-460 {
    width: 460px;
  }

  .frame-width-580-940 {
    width: 580px;
  }

  .frame-height-full-236 {
    height: 100%;
  }

  .frame-image-size-102102-196196 {
    width: 102px;
    width: 102px;
  }

  .frame-video-size-320180-340190 {
    width: 320px;
    height: 190px;
  }

  .frame-height-190-470 {
    height: 190px;
  }

  .frame-slide-size-320166-250150 {
    width: 320px;
    height: 166px;
  }

  .frame-slide-size-196196-350350 {
    width: 196px;
    height: 196px;
  }

  .frame-slide-size-198198-352352 {
    width: 198px;
    height: 198px;
  }

  .frame-width-320-250 {
    width: 320px;
  }

  .frame-size-7272-115115 {
    width: 72px;
    height: 72px;
  }

  .frame-size-7272-160156 {
    width: 72px;
    height: 72px;
  }
  

  .width-image-book-detail-new {
    width: 420px;
  }

  .frame-width-120-200 {
    width: 120px;
  }
}

@media (max-width: 425px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }

  .mobi-hidden {
    display: none;
  }

  .text-footer {
    font-size: 12px;
    line-height: 16px;
  }

  /* custom slide */
  .container-custom-slide .slide .item:nth-child(1),
  .container-custom-slide .slide .item:nth-child(2),
  .container-custom-slide .slide .item:nth-child(3) {
    left: -50px;
  }

  .container-custom-slide .slide .item:nth-child(4) {
    width: 100%;
    left: 0;
  }
  /* custom slide */

  .width-image-book-detail-new {
    width: 320px;
  }
}
