.frame-size-140190-164250 {
  width: 164px;
  height: 250px;
}

.frame-size-80134-164250 {
  width: 164px;
  height: 250px;
}

.frame-main-size {
  max-width: 940px;
  width: 100%;
}

@media (min-width: 815px) and (max-width: 1124px) {
  .frame-main-size {
    padding-right: 2rem;
  }
}

.frame-size-full-300 {
  width: 300px;
}

.frame-size-full-456 {
  width: 456px;
}


.custom-input-range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer !important;
}

@media (max-width: 1124px) {
  .frame-main-size {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .frame-size-full-300 {
    width: 100%;
    max-width: 360px;
  }

  .frame-size-full-456 {
    width: 100%;
    max-width: 360px;
  }
}

@media (max-width: 640px) {
  .frame-size-140190-164250 {
    width: 140px;
    height: 190px;
  }

  .frame-size-80134-164250 {
    width: 80px;
    height: 134px;
  }
}
